@import "./prose.css";
@import "./markdown.css";

:root {
  --c-text: #374151;
  --c-text-inverse: #e5e7eb;
  --c-bg: #fff;
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
}

html.dark {
  --c-text: #e5e7eb;
  --c-text-inverse: #374151;
  --c-bg: #121518;
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
}

:root {
  --nav-height: 90px;
}

@media (max-width: 512px) {
  :root {
    --nav-height: 60px;
  }
}

body {
  color: var(--c-text);
  background-color: var(--c-bg);
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13, 148, 136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.dark [img-light] {
  display: none;
}

html:not(.dark) [img-dark] {
  display: none;
}

.content {
  padding-top: var(--nav-height);
}

.navbar,
.main-nav,
.content,
.footer {
  transition: transform .5s cubic-bezier(.68, .05, .35, 1);
}

@media (max-width: 768px) {
  .nav-open .navbar {
    transform: translate3d(-300px, 0, 0);
  }

  .nav-open .main-nav {
    transform: translateZ(0);
  }

  .nav-open .content,
  .nav-open .footer {
    transform: translate3d(-150px, 0, 0);
  }
}

.container {
  @apply m-auto px-5 after:clear-both;
}

.container:before,
.container:after {
  @apply content-none table;
}

.animate {
  animation: animateElement cubic-bezier(0.3, 0.45, 0.45, 0.95) 0.75s;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  transition: transform .15s;
}

@keyframes animateElement {
  0% {
    transform: translate(0px, 50px);
  }

  100% {
    transform: translate(0px, 0px);
  }
}
