@import "./prose.css";
@import "./markdown.css";

:root {
  --nav-height: 55px;
}

@media (min-width: 768px) {
  :root {
    --nav-height: 88px;
  }
}

:root {
  --c-bg: #fff;
  --c-bg-overlay: rgba(255,255,255,.9);
  --c-scrollbar: #eee;
  --c-scrollbar-hover: #bbb;
  --c-divider: rgba(60,60,60,.12);
}

html {
  background-color: var(--c-bg);
}

html.dark {
  --c-bg: #121518;
  --c-bg-overlay: rgba(18,21,24,.9);
  --c-scrollbar: #111;
  --c-scrollbar-hover: #222;
  --c-divider: rgba(84,84,84,.48);
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: rgb(13, 148, 136);
  opacity: 0.75;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar:horizontal {
  height: 6px;
}
::-webkit-scrollbar-track,
::-webkit-scrollbar-corner {
  background: var(--c-bg);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--c-scrollbar);
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--c-scrollbar-hover);
}

.v-enter-active,
.v-leave-active {
  transition: opacity 0.5s ease;
}

.v-enter-from,
.v-leave-to {
  opacity: 0;
}

.dark [img-light] {
  display: none;
}

html:not(.dark) [img-dark] {
  display: none;
}

.header {
  height: var(--nav-height);
}

.main {
  margin-top: var(--nav-height);
}

.main .hero {
  margin-top: calc(var(--nav-height) * -1);
}

.navbar, .main-nav, .main {
  transition: transform .5s cubic-bezier(.68,.05,.35,1);
}

@media (max-width: 768px) {
  .nav-open .navbar{
    transform: translate3d(-300px,0,0);
  }
  .nav-open .main-nav {
    transform: translateZ(0);
  }
  .nav-open .main {
    transform: translate3d(-150px,0,0);
  }
}

