/* .vitepress/theme/index.css */

/* tailwindcss */
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* quicksand font */
@import './fonts.css';

/* iconfont */
.icon {
  width: 2.5em;
  height: 2.5em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

/* --vt :root */

/* custom theme style */

body {
  font-synthesis: weight style small-caps;
}

/* 滑动渐变 */
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s ease;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

/* body 滚动条 */
body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(84, 84, 84, 0.48);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(84, 84, 84, 0.8);
}
