/* .vitepress/theme/index.css */

/* quicksand font */
@import './fonts.css';

/* tailwindcss */
@tailwind components;
@tailwind utilities;

/* custom theme style */
html {
  /* 页面平滑滚动 */
  scroll-behavior: smooth;
  /* 鼠标样式 */
  cursor: url('./Arrow.ico'), default;
}

/* body 滚动条 */
body::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background: rgba(84, 84, 84, 0.48);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(84, 84, 84, 0.8);
}

@layer components {
  .font-quicksand {
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    font-synthesis: weight style small-caps;
  }

  .blog-title {
    @apply mt-6 mb-12 text-center text-5xl font-['Georgia'] font-bold underline;
  }
}
